{{#section 'js_sidebar'}}
    <script>
        function categoryClick(CatID) {
            if ($(".category-" + CatID).hasClass("is-active")) {
                $(".category-" + CatID).removeClass("is-active");
                $(".list-" + CatID).toggleClass("is-hidden");
            } else {
                $(".manual").removeClass("is-active");
                $(".manual-list").removeClass("is-hidden").toggleClass("is-hidden");
                $(".category-" + CatID).toggleClass("is-active");
                $(".list-" + CatID).removeClass("is-hidden");
            }
        }
        $('#text').keypress(function(event){
            const keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                const action = $('#text').val();
                const url = "/search/" + action;
                $('#frmSearch').attr('action', url);
                $('#frmSearch').submit();
            }
        });
        $('#btnSearch').click(function(event){
            const action = $('#text').val();
            if (action !== '') {
                const url = "/search/" + action;
                $('#frmSearch').attr('action', url);
                $('#frmSearch').submit();
            }
        });
    </script>
{{/section}}

<nav class="navbar box" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/public/logo/logo.png" >
        </a>

        <a
                role="button"
                class="navbar-burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

            <div class="navbar-item">
                <input class="input is-rounded" type="text" placeholder="Aa" id="text">
                <button class="button is-primary is-outlined is-rounded ml-3 is-hidden-touch" id="btnSearch">Tìm kiếm</button>
                <form action="" method="get" id="frmSearch"></form>
            </div>

            <div
                    class="
                navbar-item
                has-dropdown
                is-hoverable
                is-hidden-desktop
                category
              "
            >
                <a class="navbar-link"> Danh mục </a>

                <div class="navbar-dropdown is-hidden">
                    <ul class="menu-list">
                        {{#each lcCategories}}
                            <li>
                                <a class="manual category-{{CatID}} {{#if isActive}}is-active{{/if}}" onclick="categoryClick({{CatID}})">{{CatName}}</a>
                                <ul class="manual-list list-{{CatID}} {{#unless isActive}}is-hidden{{/unless}}">
                                    {{#each listsub}}
                                        <li><a href="/product/byCat/{{CatIDNext}}" class="{{#if isActive}}is-active{{/if}}">{{CatNextName}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                    <hr class="navbar-divider" />
                </div>

            </div>
        </div>

        <div class="navbar-end">
            {{#if auth}}
            <div class="navbar-item active">
            <a class="nav-link" href="/cart/">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Shopping cart: <b>{{cartSummary}} item(s)</b>
            </a>
              </div>
                <div class="navbar-item has-dropdown is-hoverable user">
                    <a class="navbar-link">{{authAccount.name}}</a>
                    <div class="navbar-dropdown">
                        <p class="menu-label is-size-6 m-4">Thông tin</p>
                        
                   
    
                        
                        {{#if Admin}}
                            <hr class="navbar-divider " />
                            <a class="navbar-item
                                {{#if this.isUpload}}has-background-success{{/if}}" href="/admin/upload">
                                <i class="fa fa-upload mr-2"></i>
                                Đăng tải sản phẩm
                            </a>
                            <a class="navbar-item
                                {{#if this.isUpload}}has-background-success{{/if}}" href="/admin/updateUser">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Quản lý người dùng
                            </a>
                             <a class="navbar-item
                                {{#if this.isUpload}}has-background-success{{/if}}" href="/admin/updateCategory">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                Quản lý danh mục
                            </a>
                            <a class="navbar-item
                                {{#if this.isUpload}}has-background-success{{/if}}" href="/admin/viewRevenue">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                Xem doanh thu
                            </a>
                        {{/if}}

                        <hr class="navbar-divider" />

                        <a class="navbar-item {{#if isProfile}}has-background-success{{/if}}" href="/info/reviewProfile" >
                            <i class="fa fa-user-edit mr-2"></i> Thông tin cá nhân
                        </a>
                         {{#if User}}
                        <a class="navbar-item {{#if isHistory}}has-background-success{{/if}}" href="/info/orderhistory" >
                            <i class="fa fa-history mr-2"></i> Lịch sử mua hàng

                        <a class="navbar-item {{#if this.isFavorite}}has-background-success{{/if}}" href="/info/favoriteProduct" >
                            <i class="fa fa-heartbeat mr-2"></i> Sản phẩm yêu thích
                        </a>
                           {{/if}}  
                        <hr class="navbar-divider" />

                        <form action="/account/logout" method="post" id="frmLogout"></form>
                        <a class="navbar-item" href="javascript: $('#frmLogout').submit();">
                            <i class="fa fa-sign-out-alt mr-2"></i>
                            Đăng xuất
                        </a>

                    </div>
                </div>
            {{else}}
                <div class="navbar-item ">
                    <div class="buttons">
                        <a class="button is-primary" href="/account/register">
                            <strong>Đăng ký</strong>
                        </a>
                        <a class="button is-light" href="/account/login"> Đăng nhập </a>
                    </div>
                </div>
            {{/if}}

        </div>
    </div>
</nav>