<div class="column is-2-tablet is-hidden-touch">
    <aside class="menu is-size-6-tablet">
        <p class="menu-label is-size-6"><strong>Danh mục</strong></p>
        <ul class="menu-list">
            {{#each lcCategories}}
                <li>
                    <a class="manual category-{{CatID}} {{#if isActive}}is-active{{/if}}" onclick="categoryClick({{CatID}})">
                        <i class="fa fa-caret-down mr-3" aria-hidden="true"></i>
                        {{CatName}}
                    </a>
                    <ul class="manual-list list-{{CatID}} {{#unless isActive}}is-hidden{{/unless}}">
                        {{#each listsub}}
                            <li>
                                <a href="/product/byCat/{{CatIDNext}}" class="{{#if isActive}}is-active{{/if}}
                                is-size-6-desktop is-size-6-tablet">
                                    <i class="fa fa-caret-right mr-3" aria-hidden="true"></i>
                                    {{CatNextName}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>

        
      
    </aside>
</div>