<div class="card">
  <h4 class="card-header">
    {{this.product.ProName}}
  </h4>
  <div class="card-body">
    <img src="/public/images/products/{{this.product.ProID}}/main.jpg" alt="{{this.product.ProName}}" title="{{this.product.ProName}}">
    <p class="card-text mt-4">
      Giá bán: <span class="font-weight-bold text-danger">{{format_number this.product.Price}}</span>
    </p>
    <p class="card-text">
      Tồn kho: {{this.product.Quantity}}
    </p>
    <p class="card-text">
      {{{this.product.FullDes}}}
    </p>
    {{#if auth}}
      <form action="/cart/add" method="post">
        <div class="row form-group">
          <div class="col-sm-4">
            <input type="hidden" value="{{this.product.ProID}}" name="id">
            <div class="input-group">
              <input type="text" class="form-control" name="quantity" placeholder="Quantity" value="1">
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    {{/if}}
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>