<div class="card">
  <h4 class="card-header d-flex justify-content-between">
    Product
    <a class="btn btn-sm btn-outline-primary" href="/admin/products/add" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add Product
    </a>
  </h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {{#each this.products}}
        <tr>
          <th scope="row">{{ProID}}</th>
          <td>{{ProName}}</td>
          <td>{{format_number Price}}</td>
          <td>{{Quantity}}</td>
          <td>{{TinyDes}}</td>
          <td class="text-right">
            <a class="btn btn-sm btn-primary" href="/admin/products/edit?id={{CatID}}" role="button">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>